:root {
    --income-color: #60d160;
    --payment-color: #e06648;
}

.custom_button {
    background-color: #fff;
    width: 6rem;
    text-align: center;
}

.ant-radio-button-wrapper {
    transition: all 0s ease;
}

/* Cancel default that makes them blue when not(:checked) and hovered
.ant-radio-button-wrapper:not(:checked):hover {
    color: white;
} */

.button_container {
    display: flex;
    justify-content: center;
}
/* .submit_button {
    background-color: #000000;
} */