@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@400;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.5s;
	}

:root {
	--bg-app: rgb(190, 206, 190);
	--bg-data: rgb(126, 167, 126);
	--bg-add-new: rgb(223, 226, 223);
	--income-color: #60d160;
	--payment-color: #e06648;
	--add-btn-color: rgb(48, 130, 48);
}
body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-height: 100vh;
	padding: 1rem 2rem 1rem 2rem;
	background-color: var(--bg-app);
}
.app_title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	gap: 2rem;
}
.app_title h1 {
	font-family: 'Concert One', cursive;
	color: white;
	text-align: center;
	text-shadow: 1px 2px 2px black;
}

.records {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: aquamarine;
	border-radius: 0.7rem;
}

.income_text_table {
	color: var(--income-color);
}
.payment_text_table {
	color: var(--payment-color);
}

.menu_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
	gap: 2rem;
}
.menus {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 0.5rem 1rem 0.5rem 1rem;
	gap: 1rem;
	background-color: rgba(232, 232, 232, 0.7);
	backdrop-filter: blur(8px);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: 0.5s;
	z-index: 10;
}
.menus.editing {
	background-color: rgb(159, 149, 44)(232, 232, 232, 0.7);
}
.buttons_container {
	display: flex;
	position: relative;
	align-items: center;
	height: 3rem;
	gap: 1rem;
}
.add_new {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	
	gap: 1rem;
	width: 600px;
	margin: 1rem;
	padding: 1rem;
	background-color: rgba(232, 232, 232, 0.7);
	backdrop-filter: blur(8px);
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: 0.5s;
	z-index: 10;
}

/* Animation */
.slide-up {
	animation: slide-up 0.3s ease-in-out;
	transform: translateY(-20%);
}
@keyframes slide-up {
	from {
		transform: translateY(20%);
		opacity: 0;
}
  
	to {
		transform: translateY(-20%);
	  	opacity: 1;
	}
}  

/* Type and category buttons */
.custom_button {
    background-color: #fff;
    width: 6rem;
    text-align: center;
}

.ant-radio-button-wrapper {
    transition: all 0s ease;
}

.button_container {
    display: flex;
    justify-content: center;
	gap: 1rem;
}

@media only screen and (max-width: 700px) {
	* {
		font-weight: 400;
	}
	body {
		width: 100vw;
		padding: 0.5rem 0;
		
		font-size: 16px;
	}
	.button_container {
		flex-direction: column;
		width: 100%;
	}
	.add_new {
		position: absolute;
		width: 90%;
	}
}